.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 2rem;
  border-radius: 10px;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #bb86fc;
}

.fileInput {
  display: none;
}

.fileInputLabel {
  display: inline-block;
  background-color: #1e1e1e;
  color: #bb86fc;
  border: 2px solid #bb86fc;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 1rem;
  text-align: center;

  &:hover {
    background-color: #bb86fc;
    color: #121212;
  }
}